-
  var items = [
    {
      className: "objList__item",
      displayText: "ド"
    },
    {
      className: "objList__item",
      displayText: "ミ",
    },
    {
      className: "objList__item",
      displayText: "ファ",
    },
    {
      className: "objList__item",
      displayText: "ソ",
    },
    {
      className: "objList__item",
      displayText: "ラ",
    },
    {
      className: "objList__item",
      displayText: "シ",
    },
    {
      className: "objList__item",
      displayText: "ド",
    },
  ]

